<div class="footer row justify-content-between mx-0 py-3">
    <div class="col-11 col-md-4 informacion mb-4 mb-md-0">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn fs-3"><img src="../../../../assets/logocorazon.png" alt="logo"
                                height="50" class="align-text-center">
                            <strong>Tejiendo <span>Sueños</span>
                            </strong>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quae quasi laborum ab nam
                            repellendus, adipisci omnis consectetur ducimus hic illo fugit enim modi assumenda,
                            suscipit,
                            tempora architecto dolor quisquam.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn boton"> Leer Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 col-sm-6 col-md-3 siteMap mb-4 mb-md-0">
        <div class="row justify-content-center">
            <div class="col">
                <div class="list-group list-group-flush text-center">
                    <h2>Site Map</h2>
                    <a class="list-group-item btn active">Inicio</a>
                    <a class="list-group-item btn">Productos</a>
                    <a class="list-group-item btn">Sobre Nosotros</a>
                    <a class="list-group-item btn">Contacto</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 col-sm-6 col-md-5 formulario">
        <div class="row justify-content-center px-md-4">
            <div class="col-10">
                <form>
                    <div class="form-floating mb-3">
                        <label for="inputNameFooter" class="form-label">Nombre</label>
                        <input class="form-control form-control-sm" id="inputNameFooter"
                            placeholder="Sebastian Camacho">
                    </div>
                    <div class=" form-floating mb-3">
                        <label for="inputEmailFooter" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="inputEmailFooter"
                            placeholder="name_123@ejemplo.com">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <a class="btn boton">Enviar</a>
                </form>
            </div>
        </div>
    </div>
</div>